<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Images</title>
</head>
<body>
    <h1>Upload Images</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file1" required><br><br>
        <input type="file" name="file2" required><br><br>
        <input type="file" name="file3" required><br><br>
        <input type="file" name="file4" required><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
